body{
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image{
    width: 370px;
    margin-top: 50px;
}

@media(max-width: 770px) {
    .container{
        margin: 0 10%;
    }

    .image{
        width: 100%;
    }

} 

@media only screen and (max-width: 600px) {
    h2{
        font-size: 1.70rem !important;
    }
  }